{% extends "base.html" %}
<!-- {% load static %} -->
{% load filters %}

{% block start %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">      
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Our Privacy Policy<br></li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->
    <!-- Content start -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        This is Privacy policy
    </div>
</main>
{% endblock %}